################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NganHangDe-Backend/appsettings.Development.json
